{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="app" style="width: 80%; padding: 20px;">
    <div v-for="p in posts" class="div_content_style" style="background-color: white; margin: 16px; padding: 40px; border-radius: 26px;">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="'posts/' + search(p.fields.user, useratributes)" class="userstylepic">
                            <strong style="color: white;">
                                [[ getUserName(p.fields.user) ]]
                            </strong>
                        </a>

                        <a href="'content/' + p.fields.link" class="classUserProfile">
                            [[ p.fields.title ]]
                        </a> <br />
                        <span class="timeOfPost">0 days</span>
                    </td>    
                </tr>
                <tr>
                    <td>
                        [[ p.fields.post_content.slice(0, 200) + "..." ]] <br />
                        <span class="likesclass">
                            <i class="bi bi-hand-thumbs-up"></i>
                        </span> [[ search(p.pk, postlikes) ]]
                        <span class="commentMargin">
                            <i class="bi bi-chat-left"></i>
                        </span> [[ search(p.pk, postcomments) ]]                 
                    </td>                                   
                </tr> 
                <tr>
                    <td><hr class="lineclass" /></td>
                </tr>      
                <tr>
                    <td>
                        <i class="bi bi-hand-thumbs-up" onClick="() => sendData('like', p.pk)"></i> Like   
                        <i class="bi bi-chat-left" class="optionsclass"></i> comment    
                        <i class="bi bi-share" class="optionsclass"></i> share
                    </td>
                </tr>  
                <tr>
                    <td><hr class=" lineclass " /></td>
                </tr>   
                <tr>
                    <td>
                        <label class="userclassPic2 " class="centerText"><span>[[ p.fields.topic ]]</span></label>
                        <div class="divcommentclass, container " >
                            <input type="text"                                                 
                                class="commentclass, content " 
                                onChange="(e) => { setPostCommenttxt(e.target.value)}"
                                placeholder="Write a comment..." />
                                <span class="commenticons, sidecontent ">
                                    <i class="bi bi-emoji-smile" class="optionsclass "></i>
                                    <i class="bi bi-image" class="optionsclass "></i>
                                    <i class="bi bi-hand-thumbs-up" class="optionsclass "></i>
                                    <i class="bi bi-hand-thumbs-down" class="optionsclass "></i>
                                    <i class="bi bi-heart" class="optionsclass "></i>
                                    <i class="bi bi-handbag" class="optionsclass "></i>
                                </span>
                        </div>  
                        <i class="bi bi-send" class="btnSendComment " title="Post Comment" 
                        onClick="() => sendData('comment', p.pk)">
                            <span class="removeclass ">Post</span>
                        </i>  
                    </td>    
                </tr>    
            </tbody>    
        </table>    
        <br /><br />                   
    </div>
</div>
<script>
    const { createApp, ref, onMounted } = Vue
  
    createApp({
      delimiters: ['[[',']]'],  
      setup() {
        const posts = ref([])
        const postlikes = ref([]);
        const postcomments = ref([]);
        const useratributes = ref([]);
        const commenttxt = ref('');
        const posts_user = ref([])
        const initialState = ref(false);
        
        onMounted(() => {
            if(!initialState.value){
                axios.get("postlist").then((data) => {
                    var posts_data = data.data.post_data  
                    var users_data = data.data.user_data  
                    console.log(posts_data)   
                    console.log(users_data)   
                    posts.value = posts_data;
                    posts_user.value = users_data
                    let postids = posts_data.map(i => {return i.fields.user})
                    let ids_of_posts = String(postids.filter(onlyUnique))
                    loadUserAtrib(ids_of_posts);
                });    
                initialState.value = true     
            }
            getData("postlikes");
            getData("postcomments");
        })
        const search = (k, arr) => {
            console.log('======')
            console.log(k)
            console.log(arr)
            return arr[k] || 0
        };
        function onlyUnique(value, index, array) {
            return array.indexOf(value) === index;
        };
        async function loadUserAtrib(ids_of_posts) {
            await axios.get('/useratrib/', { params: { ids: ids_of_posts } }).then((data) => {
               var arr = {};
               let v = data.data.split(';')
               for (var i = 0; i < v.length; i++) {
                    var s = v[i].split(':');
                    if(s[0] === null || s[0] === '' || s[0] === 'null' || typeof s[0] === 'undefined') {
                        break;
                    }
                    arr[s[0].trim()] = s[1].trim();
                }
                useratributes.value = arr
                console.log('User: ' + useratributes.value)
            })
        }

        async function getData(pg) {
           //setCountPostClick(countPostClick + 1)
           await axios.get(pg).then((data) => {
               var arr = {};
               let v = data.data.split(';')
               for (var i = 0; i < v.length; i++) {
                    var s = v[i].split(':');
                    if(s[0] === null || s[0] === '' || s[0] === 'null' || typeof s[0] === 'undefined') {
                        break;
                    }
                    arr[s[0].trim()] = s[1].trim();
                }
                if(pg === "postlikes") {
                   postlikes.value = arr;                    
                }
                else if(pg === "postcomments") {
                    postcomments.value = arr; 
                }
                
            })
        };
        async function sendData(vtype_of_like, vpost_id) {
            let rs_response = ""
            let link = ""

            if(vtype_of_like === "like") {
                link = "/addremovelike/" 
            } else if(vtype_of_like === "comment") {
                link = "/addcomment/"
            }
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            const v = {"post_id": vpost_id, "type_of_like": vtype_of_like, "txt": commenttxt }            
            await axios.post(link, v, 
                {
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                })
                .then((response) => {
                    rs_response = response.data
                    console.log("rs: " + rs_response)
                    if(vtype_of_like === "like") {
                       getData("postlikes"); 
                    } else if(vtype_of_like === "comment") {
                       getData("postcomments");
                    }    
                }, (error) => {
                    rs_response = error;
                });
        }
        const getUserName = (v) => {
            var user_name = posts_user.value.filter((i) => i.pk === v)
            return user_name[0].fields.username.split('')[0];
        }
        //const countPostClick = ref(0)
        return {
            posts,
            postlikes,
            postcomments,
            useratributes,
            commenttxt,
            posts_user,
            initialState,
            search,
            getUserName
        }
      }
    }).mount('#app')
  </script>
{% endblock content %}