{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="width: 80%; padding: 20px;">
{% for content in contents %}     
<div style="width: 80%; padding: 20px;"> 

</div>
{% endfor %}
<div id="root"></div>
<script type="text/babel">
    
    function App() {
        const { useState, useEffect } = React;
        const [post, setPost] = useState([]);

        useEffect(() => {
            axios.get("postlist").then((data) => {
                console.log(data);
                setPost(data?.data);
            });
        }, []);
        const topicstyle = {
            backgroundColor: "#AED6F1",
            width: "100px",
            height: "100px",
            float: "left",
            padding: "10px",
            textAlign: "center",
            margin: "auto",
            fontSize: "32px"
        };
        const divstyle = {
            height: "120px"
        };
        const divcontstyle = {
            height: "100px",
            paddingLeft: "20px" 
        };
        return (
                <div>  
                    { post.map(p => ( 
                        <div key={ p.pk } style={ divstyle }>
                            <label style={ topicstyle }>{ p.fields.topic }</label>
                            <div style={ divcontstyle }>
                                <a href={ p.fields.lnk }>{ p.fields.title }</a><br />
                                { p.fields.body.slice(0, 200) + "..." }
                            </div>
                            <br /><br />                   
                        </div> 
                    )) }                            
                </div>
        );  
    }
    const html_root = document.getElementById('root');
    ReactDOM.createRoot(html_root).render(<App />);
</script>
</div>
{% endblock content %}