{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="width: 80%; padding: 20px;">
{% for content in contents %}     
<div style="width: 80%; padding: 20px;"> 

</div>
{% endfor %}
<div id="root"></div>
<script type="text/babel">
    
    function App() {
        const { useState, useEffect } = React;
        const [post, setPost] = useState([]);

        useEffect(() => {
            axios.get("postlist").then((data) => {
                console.log(data);
                setPost(data?.data);
            });
        }, []);
        const topicstyle = {
            backgroundColor: "#AED6F1",
            width: "140px",
            float: "left",
            margin: "10%",
            textAlign: "center",
            borderRadius: "20px",
            margin: "auto",
            fontSize: "32px",
            paddingRight: "10px"
        };
        const divstyle = {
            height: "120px"
        };
        const divcontstyle = {
            height: "100px",
            marginRight: "10%"
        };
        return (
                <div>  
                    { post.map(p => ( 
                        <div key={ p.pk }>
                            <table>
                                <tbody>
                                    <tr>
                                        <td rowspan={2}>
                                        <label style={ topicstyle }>{ p.fields.topic }</label>
                                        </td>
                                        <td>
                                            <a href={ 'content/' + p.fields.lnk }>{ p.fields.title }</a>
                                        </td>    
                                    </tr>
                                    <tr>
                                        <td>
                                            { p.fields.body.slice(0, 200) + "..." }
                                        </td>
                                    </tr>    
                                </tbody>    
                            </table>    
                            <br /><br />                   
                        </div> 
                    )) }                            
                </div>
        );  
    }
    const html_root = document.getElementById('root');
    ReactDOM.createRoot(html_root).render(<App />);
</script>
</div>
{% endblock content %}