{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
        <div class="div_content_style"
             style="background-color: white;
                    margin: 16px;
                    padding: 40px;
                    border-radius: 26px;
                    width: 90%;
                    overflow: hidden">
            <div style="float: left; width: 560px;">
                <h3>{{ post.title }}</h3>
                <p>{{ post.post_content }}</p>
            </div>
            <div style="width: 460px;
                        margin-top: 2px;
                        float: right;
                        border: 1px solid gray">
                <span class="userstylepic" style="margin: 10px;">
                    <strong style="color: white;">F</strong>
                </span>
                <br />
                <span style="padding: 10px;">{{ post.date_created }}</span>
                <span style="margin-left: 12px; padding: 10px; background-color: #A9F764; color: blue; border: 4px solid blue; border-radius: 20px;">{{ post.post_type  }}</span>
                <br>
                <br />
                {% for like in likes %}
                <i class="bi bi-hand-thumbs-up" style="padding-right: 10px">
                    {{ like.count_likes }}
                  </i>
                  <i class="bi bi bi-heart" style="padding-right: 10px">
                    {{ like.count_loves }}
                  </i>
                  <i class="bi bi-hand-thumbs-down" style="padding-right: 10px">
                    {{ like.count_sads }}
                  </i>
                  <i class="bi bi-chat-left" style="padding-right: 10px">
                    {{ like.count_comments }}
                  </i>
                  <i class="bi bi-share">
                    {{ like.count_shares }}
                  </i>
                  {% endfor %}
                <br />
                <hr style="width: 92%;" />
                <strong>Comments</strong>
                <br />
                <hr style="width: 92%;" />
                {% for comment in comments %}
                <div
                     style="width: 100%;
                            padding: 10px;
                            margin: 10px">
                    {{ comment.comment }}
                    <br />
                    <hr style="width: 92%;" />
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}
